src/us-co/statutes.dtd


<!-- (C) 1997 Jim Duran Statutes.  All Rights Reserved. -->

<!-- WordPerfect for Windows 8 does not require a <!DOCTYPE... declaration -->

<!-- Simple DTD for illustrating attributes and external entities.
     Illustrates parameter entity declarations for ISO character entity
     sets.  Requires an "external entity mapping file" (ISO_ENT.MAP or
     ISO_WPC.MAP) because it contains references to external entities.
-->

<!-- The Elements dialog in WordPerfect can be made to display either
     "All Tags" or "Valid Tags".
-->

<!--       NAME            OMIT    CONTENT MODEL        --> 

<!ELEMENT   AL              - O    EMPTY            >
<!ELEMENT   ANAL_HEAD       - -    (#PCDATA)*       > 
<!ELEMENT   ANAL_TEXT       - -    (#PCDATA)*       > 
<!ELEMENT   ANAL_SUB        - -    (#PCDATA)*       >
<!ELEMENT   AN_DIV          - -    (#PCDATA)*       >
<!ELEMENT   AN_SUB          - -    (#PCDATA)*       >
<!ELEMENT   ANNO_HEAD       - -    (#PCDATA)*       >
<!ELEMENT   ANNO_NOTE       - -    (#PCDATA)*       >
<!ELEMENT   ANNO_TEXT       - -    (#PCDATA)*       >
<!ELEMENT   ANNO_TOC        - -    (#PCDATA)*       >
<!ELEMENT   ART_ANAL        - -    (#PCDATA)*       >
<!ELEMENT   ART_PART        - -    (#PCDATA)*       >
<!ELEMENT   ART_TEXT        - -    (#PCDATA)*       >
<!ELEMENT   ARTICLE_NUM     - -    (#PCDATA)*       >
<!ELEMENT   ARTICLE_PART    - -    (#PCDATA)*       >
<!ELEMENT   ARTICLE_TEXT    - -    (#PCDATA)*       >
<!ELEMENT   ARTICLE_TITLE   - -    (#PCDATA)*       >
<!ELEMENT   ASC             - -    (#PCDATA)*       >
<!ELEMENT   ASIS            - O    EMPTY       >
<!ELEMENT   B               - -    (#PCDATA)*       >
<!ELEMENT   BL              - O    EMPTY            >
<!ELEMENT   BL_1            - O    EMPTY            >
<!ELEMENT   BLEED           - -    (#PCDATA)*       >
<!ELEMENT   BLEED_8         - O    EMPTY            >
<!ELEMENT   BLEED_12        - O    EMPTY            > 
<!ELEMENT   BLEED_14        - O    EMPTY            > 
<!ELEMENT   BLEED_20        - O    EMPTY            > 
<!ELEMENT   BLEED_22        - O    EMPTY            > 
<!ELEMENT   BLEED_RULE      - O    EMPTY            >
<!ELEMENT   BT              - -    (#PCDATA)*       >
<!ELEMENT   C               - O    EMPTY       >
<!ELEMENT   CATCH_LINE      - -    (#PCDATA)*   >   
<!ELEMENT   CDEF            - O    EMPTY            >
<!ATTLIST   CDEF    N  CDATA  #IMPLIED  SP CDATA #IMPLIED  W  CDATA 
#IMPLIED  F  CDATA #IMPLIED    >
<!ELEMENT   CHAP_ANAL       - -    (#PCDATA)*       > 
<!ELEMENT   COL7            - -    (#PCDATA)*       >
<!ELEMENT   COL7H           - -    (#PCDATA)*       >
<!ELEMENT   COL15           - -    (#PCDATA)*       >
<!ELEMENT   CN              - O    EMPTY       >
<!ELEMENT   COMMENT_HEAD    - -    (#PCDATA)*       >
<!ELEMENT   COMMENT_TEXT    - -    (#PCDATA)*       >
<!ELEMENT   COMMENT_SINGLE  - -    (#PCDATA)*       >
<!ELEMENT   CONST_ANAL      - -    (#PCDATA)*       >
<!ELEMENT   CPOINT07        - O    EMPTY       >
<!ELEMENT   CPOINT08        - O    EMPTY       >
<!ELEMENT   CPOINT09        - O    EMPTY       >
<!ELEMENT   CPOINT10        - O    EMPTY       >
<!ELEMENT   CPOINT12        - O    EMPTY       >
<!ELEMENT   CPOINT13        - O    EMPTY       >
<!ELEMENT   CPOINT24        - O    EMPTY       >
<!ELEMENT   CTEMP           - O    EMPTY            >
<!ATTLIST   CTEMP   N  CDATA  #IMPLIED  SP CDATA #IMPLIED  W  CDATA 
#IMPLIED  F  CDATA #IMPLIED    >
<!ELEMENT   CTR             - O    EMPTY            >
<!ELEMENT   CTRD            - -    (#PCDATA)*       >
<!ELEMENT   CTRDB           - -    (#PCDATA)*       >
<!ELEMENT   CTRK            - -    (#PCDATA)*       >
<!ELEMENT   CTRKB           - -    (#PCDATA)*       >
<!ELEMENT   C2              - O    EMPTY       >
<!ELEMENT   DL              - O    EMPTY            >
<!ELEMENT   DBL             - O    EMPTY            >
<!ELEMENT   DDL             - O    EMPTY            >
<!ELEMENT   DHLINE          - O    EMPTY            >
<!ELEMENT   DOCNAM          - -    (#PCDATA)*       >
<!ELEMENT   DT              - O    EMPTY            >
<!ELEMENT   DT_LINE         - O    EMPTY            >
<!ELEMENT   EDITORS_NOTE    - -    (#PCDATA)*       >
<!ELEMENT   ENABLE_CO       - -    (#PCDATA)*       >
<!ELEMENT   EP              - O    EMPTY       >
<!ELEMENT   FGENEVA         - O    EMPTY       >
<!ELEMENT   FGOTHIC         - O    EMPTY       >
<!ELEMENT   FOOT_NOTE       - -    (#PCDATA)*       >
<!ELEMENT   FORM_TITLE      - -    (#PCDATA)*       > 
<!ELEMENT   FORM_A          - -    (#PCDATA)*       >
<!ELEMENT   FORM_BOX        - -    (#PCDATA)*       >
<!ELEMENT   FORM_D          - -    (#PCDATA)*       >
<!ELEMENT   FORM_H2         - O    EMPTY       >
<!ELEMENT   FORM_S          - -    (#PCDATA)*       >
<!ELEMENT   F_LIST          - O    EMPTY       >
<!ELEMENT   FTIMESR         - O    EMPTY       >
<!ELEMENT   FTR             - O    EMPTY       >
<!ELEMENT   HLINE           - O    EMPTY            >
<!ELEMENT   I               - O    EMPTY            >
<!ELEMENT   IL_FNOTE        - -    (#PCDATA)*       > 
<!ELEMENT   IL_FOOTNOTE     - -    (#PCDATA)*       >
<!ELEMENT   IP_0_5          - O    EMPTY       >
<!ELEMENT   IP_0_10         - O    EMPTY       >
<!ELEMENT   IP_0_15         - O    EMPTY       >
<!ELEMENT   IP_0_25         - O    EMPTY       >
<!ELEMENT   IP_5_5          - O    EMPTY       >
<!ELEMENT   IP_5_10         - O    EMPTY       >
<!ELEMENT   IP_9_15         - O    EMPTY       >
<!ELEMENT   IP_10_10        - O    EMPTY       >
<!ELEMENT   IP_10_15        - O    EMPTY       >
<!ELEMENT   IP_15_15        - O    EMPTY       >
<!ELEMENT   IP_5_5_5        - O    EMPTY       >
<!ELEMENT   IP_5_10_10      - O    EMPTY       >
<!ELEMENT   IP_10_5_5       - O    EMPTY       >
<!ELEMENT   IP_10_10_10     - O    EMPTY       >
<!ELEMENT   IP_15_10_10     - O    EMPTY       >
<!ELEMENT   IT              - -    (#PCDATA)*       >
<!ELEMENT   J               - -    (#PCDATA)*       >
<!ELEMENT   K               - -    (#PCDATA)*       >
<!ELEMENT   KNO             - O    EMPTY       >
<!ELEMENT   L               - -    (#PCDATA)*       >
<!ELEMENT   LANDSCAPE       - -    (#PCDATA)*       >
<!ELEMENT   LEDNG075        - O    EMPTY       >
<!ELEMENT   LEDNG080        - O    EMPTY       >
<!ELEMENT   LEDNG100        - O    EMPTY       >
<!ELEMENT   LEDNG110        - O    EMPTY       >
<!ELEMENT   LEDNG130        - O    EMPTY       >
<!ELEMENT   LEDNG150        - O    EMPTY       >
<!ELEMENT   LEDNG240        - O    EMPTY       >
<!ELEMENT   LEDNG250        - O    EMPTY       >
<!ELEMENT   M               - O    EMPTY       >
<!ELEMENT   M_3             - O    EMPTY       >
<!ELEMENT   M_6             - O    EMPTY       >
<!ELEMENT   M_8             - O    EMPTY       >
<!ELEMENT   M_10            - O    EMPTY       >
<!ELEMENT   M_20            - O    EMPTY       >
<!ELEMENT   N               - O    EMPTY       >
<!ELEMENT   NEW_PAGE        - O    EMPTY       >
<!ELEMENT   NEWBL_PAGE      - O    EMPTY       > 
<!ELEMENT   NEWR_PAGE       - O    EMPTY       > 
<!ELEMENT   NL              - O    EMPTY       >
<!ELEMENT   O               - -    (#PCDATA)*       >
<!ELEMENT   P               - O    EMPTY       >
<!ATTLIST   P       N    CDATA  #IMPLIED       >       
<!ELEMENT   PAGE            - O    EMPTY       >
<!ELEMENT   PNP             - O    EMPTY       >
<!ELEMENT   R               - O    EMPTY       >
<!ELEMENT   RHFTC           - -    (#PCDATA)*       >
<!ELEMENT   RHFTO           - -    (#PCDATA)*   >
<!ELEMENT   RHRTC           - -    (#PCDATA)*       >
<!ELEMENT   RHVTC           - -    (#PCDATA)*   >
<!ELEMENT   RHEVEN          - -    (#PCDATA)*   >
<!ELEMENT   RHODD           - -    (#PCDATA)*   >
<!ELEMENT   RINDEX          - -    (#PCDATA)*       >
<!ELEMENT   RINDEX_HD        - -    (#PCDATA)*       >
<!ELEMENT   RT              - O    EMPTY       >
<!ELEMENT   R_LIST          - O    EMPTY       >
<!ELEMENT   R_LIST2         - O    EMPTY       >
<!ELEMENT   S               - -    (#PCDATA)*   >
<!ELEMENT   SEC_HEAD        - -    (#PCDATA)*   >
<!ELEMENT   SEC_NUM         - -    (#PCDATA)*   >
<!ELEMENT   SECTION_TEXT    - -    (CATCH_LINE & RHFTO & M & T & P)*   >
<!ELEMENT   SI              - O    EMPTY            >
<!ELEMENT   SKIP_PAGE       - O    EMPTY       >
<!ELEMENT   SOURCE_NOTE     - -    (#PCDATA)*       >
<!ELEMENT   SP              - O    EMPTY       >
<!ELEMENT   SP_TL           - O    EMPTY       >
<!ELEMENT   SP_8            - O    EMPTY       >
<!ELEMENT   SP_8_L1         - O    EMPTY       >
<!ELEMENT   SP_8_L2         - O    EMPTY       >
<!ELEMENT   SP_8_L3         - O    EMPTY       >
<!ELEMENT   SP_8RR          - O    EMPTY       >
<!ELEMENT   SP_8LR          - O    EMPTY       >
<!ELEMENT   SP_8_2RR        - O    EMPTY       >
<!ELEMENT   SP_8_TRR        - O    EMPTY       >
<!ELEMENT   SP_8_TRC        - -    (#PCDATA)*  >
<!ELEMENT   SP_8_HD         - -    (#PCDATA)*  >
<!ELEMENT   SP_8_2C         - -    (#PCDATA)*  >
<!ELEMENT   SP_8_4C         - -    (#PCDATA)*  >
<!ELEMENT   S0              - O    EMPTY       >
<!ELEMENT   S1              - O    EMPTY            >
<!ELEMENT   S10             - O    EMPTY            >
<!ELEMENT   S2              - O    EMPTY            >
<!ELEMENT   S24             - O    EMPTY            >
<!ELEMENT   S3              - O    EMPTY            >
<!ELEMENT   S8              - O    EMPTY            >
<!ELEMENT   SUB             - -    (#PCDATA)*       >
<!ELEMENT   SUP             - -    (#PCDATA)*       >
<!ELEMENT   T               - O    EMPTY       >
<!ELEMENT   T_DIV           - -    (#PCDATA)*       >
<!ELEMENT   TA_LIST         - O    EMPTY            >
<!ELEMENT   TBL             - -    (#PCDATA)*       >
<!ELEMENT   TBL_2a          - O    EMPTY            > 
<!ELEMENT   TBL_2b          - O    EMPTY            >
<!ELEMENT   TBL_2c          - O    EMPTY            >
<!ELEMENT   TBL_2d          - O    EMPTY            >
<!ELEMENT   TBL_2cx         - O    EMPTY            >
<!ELEMENT   TBL_2cz         - O    EMPTY            >
<!ELEMENT   TBL_3a          - O    EMPTY            >
<!ELEMENT   TBL_3b          - O    EMPTY            >
<!ELEMENT   TBL_3c          - O    EMPTY            >
<!ELEMENT   TBL_3d          - O    EMPTY            >
<!ELEMENT   TBL_4a          - O    EMPTY            >
<!ELEMENT   TBL_4b          - O    EMPTY            >
<!ELEMENT   TBL_4c          - O    EMPTY            >
<!ELEMENT   TBL_4d          - O    EMPTY            >
<!ELEMENT   TBL_5c          - O    EMPTY            >
<!ELEMENT   TBL.5-2-201xA     - -    (#PCDATA)*       >
<!ELEMENT   TBL.5-2-201xB     - -    (#PCDATA)*       >
<!ELEMENT   TBL.5-2-201xC     - -    (#PCDATA)*       >
<!ELEMENT   TBL.5-2-201xD     - -    (#PCDATA)*       >
<!ELEMENT   TBL.5-2-201xE     - -    (#PCDATA)*       >
<!ELEMENT   TBL.5-2-201xF     - -    (#PCDATA)*       >
<!ELEMENT   TBL.5-2-304       - -    (#PCDATA)*       >
<!ELEMENT   TBL.6-7-105x1     - -    (#PCDATA)*       >
<!ELEMENT   TBL.6-7-105x2     - -    (#PCDATA)*       >
<!ELEMENT   TBL.8-42-107      - -    (#PCDATA)*       >
<!ELEMENT   TBL.8-76-102      - -    (#PCDATA)*       >
<!ELEMENT   TBL.8-76-103x1    - -    (#PCDATA)*       >
<!ELEMENT   TBL.8-76-103x2    - -    (#PCDATA)*       >
<!ELEMENT   TBL.9-5-111       - -    (#PCDATA)*       >
<!ELEMENT   TBL.10-3-201      - -    (#PCDATA)*       >
<!ELEMENT   TBL.10-3-209      - -    (#PCDATA)*       >
<!ELEMENT   TBL.10-3-803.5xA  - -    (#PCDATA)*       >
<!ELEMENT   TBL.10-3-803.5xB  - -    (#PCDATA)*       >
<!ELEMENT   TBL.10-7-309.5xA  - -    (#PCDATA)*       >
<!ELEMENT   TBL.10-7-309.5xB  - -    (#PCDATA)*       >
<!ELEMENT   TBL.10-7-309.5xC  - -    (#PCDATA)*       >
<!ELEMENT   TBL.10-7-309.5xD  - -    (#PCDATA)*       >
<!ELEMENT   TBL.10-7-709.5xA  - -    (#PCDATA)*       > 
<!ELEMENT   TBL.10-7-709.5xB  - -    (#PCDATA)*       > 
<!ELEMENT   TBL.10-7-709.5xC  - -    (#PCDATA)*       > 
<!ELEMENT   TBL.10-7-709.5xD  - -    (#PCDATA)*       > 
<!ELEMENT   TBL.11-25-103     - -    (#PCDATA)*       > 
<!ELEMENT   TBL.13-25-103     - -    (#PCDATA)*       >
<!ELEMENT   TBL.13-25-103x1   - -    (#PCDATA)*       > 
<!ELEMENT   TBL.13-25-103x2   - -    (#PCDATA)*       > 
<!ELEMENT   TBL.13-30-103     - -    (#PCDATA)*       >
<!ELEMENT   TBL.14-10-115     - -    (#PCDATA)*       >
<!ELEMENT   TBL.14-10-115x1   - -    (#PCDATA)*       >
<!ELEMENT   TBL.14-10-115x2   - -    (#PCDATA)*       >
<!ELEMENT   TBL.14-10-115x3   - -    (#PCDATA)*       >
<!ELEMENT   TBL.14-10-115x4   - -    (#PCDATA)*       >
<!ELEMENT   TBL.14-10-115x5   - -    (#PCDATA)*       >
<!ELEMENT   TBL.15-1-1302     - -    (#PCDATA)*       >
<!ELEMENT   TBL.15-1-1302x5   - -    (#PCDATA)*       >
<!ELEMENT   TBL.15-11-201     - -    (#PCDATA)*       >
<!ELEMENT   TBL.15-11-1006    - -    (#PCDATA)*       >
<!ELEMENT   TBL.15-12-623     - -    (#PCDATA)*       >
<!ELEMENT   TBL.17-22.5-201   - -    (#PCDATA)*       >
<!ELEMENT   TBL.18-1-105xA    - -    (#PCDATA)*       >
<!ELEMENT   TBL.18-1-105xB    - -    (#PCDATA)*       >
<!ELEMENT   TBL.18-1-105xC    - -    (#PCDATA)*       >
<!ELEMENT   TBL.18-1-105xD    - -    (#PCDATA)*       >
<!ELEMENT   TBL.18-1-105xE    - -    (#PCDATA)*       >
<!ELEMENT   TBL.18-1-106      - -    (#PCDATA)*       >
<!ELEMENT   TBL.22-54-104     - -    (#PCDATA)*       >
<!ELEMENT   TBL.24-51-401     - -    (#PCDATA)*       >
<!ELEMENT   TBL.24-51-602xA   - -    (#PCDATA)*       >
<!ELEMENT   TBL.24-51-602xB   - -    (#PCDATA)*       >
<!ELEMENT   TBL.24-51-604     - -    (#PCDATA)*       >
<!ELEMENT   TBL.25-4-1607xA   - -    (#PCDATA)*       >
<!ELEMENT   TBL.25-4-1607xB   - -    (#PCDATA)*       >
<!ELEMENT   TBL.25-4-1607xC   - -    (#PCDATA)*       >
<!ELEMENT   TBL.25-4-1607x1   - -    (#PCDATA)*       >
<!ELEMENT   TBL.25-4-1607x2   - -    (#PCDATA)*       >
<!ELEMENT   TBL.25-4-1607x3   - -    (#PCDATA)*       >
<!ELEMENT   TBL.25-5.5-101    - -    (#PCDATA)*       >
<!ELEMENT   TBL.25-7-109x1    - -    (#PCDATA)*       >
<!ELEMENT   TBL.25-7-109x2    - -    (#PCDATA)*       >
<!ELEMENT   TBL.25-7-109x3    - -    (#PCDATA)*       >
<!ELEMENT   TBL.25-7-109x4    - -    (#PCDATA)*       >
<!ELEMENT   TBL.25-7-109.3    - -    (#PCDATA)*       >
<!ELEMENT   TBL.25-8-502      - -    (#PCDATA)*       >
<!ELEMENT   TBL.25-12-103     - -    (#PCDATA)*       >
<!ELEMENT   TBL.25-12-107     - -    (#PCDATA)*       >
<!ELEMENT   TBL.29-22-107     - -    (#PCDATA)*       >
<!ELEMENT   TBL.30-2-102      - -    (#PCDATA)*       >
<!ELEMENT   TBL.30-2-102x1      - -    (#PCDATA)*       >
<!ELEMENT   TBL.30-2-102x2      - -    (#PCDATA)*       >
<!ELEMENT   TBL.30-10-408x1   - -    (#PCDATA)*       >
<!ELEMENT   TBL.30-10-408x2   - -    (#PCDATA)*       >
<!ELEMENT   TBL.30-10-409     - -    (#PCDATA)*       >
<!ELEMENT   TBL.31-30.5-304x1 - -    (#PCDATA)*       >
<!ELEMENT   TBL.31-30.5-304x2 - -    (#PCDATA)*       >
<!ELEMENT   TBL.31-30.5-304x3 - -    (#PCDATA)*       >
<!ELEMENT   TBL.32-11-217     - -    (#PCDATA)*       >
<!ELEMENT   TBL.33-4-102x1    - -    (#PCDATA)*       >
<!ELEMENT   TBL.33-4-102x2    - -    (#PCDATA)*       >
<!ELEMENT   TBL.33-60-103     - -    (#PCDATA)*       >
<!ELEMENT   TBL.37-8-101x6    - -    (#PCDATA)*       >
<!ELEMENT   TBL.37-8-101x8    - -    (#PCDATA)*       >
<!ELEMENT   TBL.37-23-107     - -    (#PCDATA)*       >
<!ELEMENT   TBL.37-68-101x1   - -    (#PCDATA)*       >
<!ELEMENT   TBL.37-68-101x2   - -    (#PCDATA)*       >
<!ELEMENT   TBL.39-23-112     - -    (#PCDATA)*       >
<!ELEMENT   TBL.39-23-116     - -    (#PCDATA)*       >
<!ELEMENT   TBL.39-10-104.5   - -    (#PCDATA)*       >
<!ELEMENT   TBL.39-22-301x1   - -    (#PCDATA)*       >
<!ELEMENT   TBL.39-22-301x2   - -    (#PCDATA)*       >
<!ELEMENT   TBL.39-27-202     - -    (#PCDATA)*       >
<!ELEMENT   TBL.42-20-202     - -    (#PCDATA)*       >
<!ELEMENT   TBL.42-3-107xA    - -    (#PCDATA)*       >
<!ELEMENT   TBL.42-3-107xB    - -    (#PCDATA)*       >
<!ELEMENT   TBL.42-3-107xC    - -    (#PCDATA)*       >
<!ELEMENT   TBL.42-3-134xA    - -    (#PCDATA)*       >
<!ELEMENT   TBL.42-3-134xB    - -    (#PCDATA)*       >
<!ELEMENT   TBL.42-3-134xC    - -    (#PCDATA)*       >
<!ELEMENT   TBL.42-3-134xD    - -    (#PCDATA)*       >
<!ELEMENT   TBL.42-3-134xE    - -    (#PCDATA)*       >
<!ELEMENT   TBL.42-4-1701     - -    (#PCDATA)*       >
<!ELEMENT   TBL.43-4-208xA    - -    (#PCDATA)*       >
<!ELEMENT   TBL.43-4-208xB    - -    (#PCDATA)*       >
<!ELEMENT   TC              - O    EMPTY            >
<!ELEMENT   TD              - O    EMPTY            >
<!ELEMENT   TITLE_ANAL      - -    (#PCDATA)*       >
<!ELEMENT   TITLE_DIV       - -    (#PCDATA)*       >
<!ELEMENT   TITLE_NUM       - -    (#PCDATA)*   >
<!ELEMENT   TITLE_PART      - -    (#PCDATA)*       >
<!ELEMENT   TITLE_TEXT      - -    (#PCDATA)*   >
<!ELEMENT   TR              - O    EMPTY            >
<!ELEMENT   U               - -    (#PCDATA)*       >
<!ELEMENT   VL              - O    EMPTY            >
<!ELEMENT   XREF_NOTE       - -    (#PCDATA)*       >
<!ELEMENT   VINDEX          - -    (#PCDATA)*       > 
<!ELEMENT   L1              - O    EMPTY            > 
<!ELEMENT   L2              - O    EMPTY            > 
<!ELEMENT   L3              - O    EMPTY            > 
<!ELEMENT   L4              - O    EMPTY            > 
<!ELEMENT   L5              - O    EMPTY            > 
<!ELEMENT   L6              - O    EMPTY            > 
<!ELEMENT   NB              - O    EMPTY            > 
<!ELEMENT   COMP_HEAD       - -    (#PCDATA)*       >
<!ELEMENT   COMP_TEXT       - -    (#PCDATA)*       > 
<!ELEMENT   COMP_COL        - -    (#PCDATA)*       > 
<!ELEMENT   COMP_COLH       - -    (#PCDATA)*       > 
<!ELEMENT   CNL             - -    EMPTY            > 
